*.jl.cov
*.jl.mem
.DS_Store
.ipynb_checkpoints/
*.eigenvec
*.eigenval
*.log

docs/build/

test/*.fam
test/*.bed
test/*.bim
test/*beta.txt
test/gemma*
test/pve/*.fam
test/pve/*.bed
test/pve/*.bim
test/pve/*.phen
test/pve/univariate_true_beta.txt
