*.jl.cov
*.jl.mem
.DS_Store
.ipynb_checkpoints/
*.eigenvec
*.eigenval
*.log

docs/build/

test/*.fam
test/*.bed
test/*.bim
test/*phen*
test/plink*
test/*beta.txt
test/gemma*
test/pve/*.fam
test/pve/*.bed
test/pve/*.bim
test/pve/*.phen
test/pve/univariate_true_beta.txt
test/sim*
test/*cXX.txt
test/*.sh
test/NFBCsim
test/NFBCsim*
test/NFBC_chr21_sim/*
test/NFBC_chr1_sim/*

manuscript/UKBB_metabolomic/ukb.merged.metabolic.subset.european.400K.QC.bim
manuscript/UKBB_metabolomic/iht.final.beta.txt
manuscript/UKBB_metabolomic/phenotypes*
manuscript/extra_sim/sim*
manuscript/extra_sim/slurm*
